<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>脚手架</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/bootstrap-vue.min.css"/>
</head>
<body>
<div class="container">
    <br/>

    <div id="login">
        <b-alert v-if="isLogin" show dismissible variant="success">已登陆</b-alert>
        <b-alert v-else show dismissible variant="danger">
            未登陆，账号：<code>{{config.username}}</code>，密码：<code>{{config.password}}</code>
        </b-alert>

        <b-form-group label="账号">
            <b-form-input placeholder="账号" v-model="username"></b-form-input>
        </b-form-group>
        <b-form-group label="密码">
            <b-form-input placeholder="密码" type="password" v-model="password"></b-form-input>
        </b-form-group>

        <b-button variant="outline-primary" @click="LoginGet">刷新</b-button>
        <b-button variant="outline-success" @click="LoginPost">登陆</b-button>
    </div>

    <hr style="border: 0.1rem solid"/>

    <div id="user">
        <b-form-group label="账号">
            <b-form-input placeholder="账号" v-model="username"></b-form-input>
        </b-form-group>
        <b-form-group label="密码">
            <b-form-input placeholder="密码" type="password" v-model="password"></b-form-input>
        </b-form-group>

        <b-button variant="outline-primary" @click="ListUser">刷新</b-button>
        <b-button variant="outline-success" @click="AddUser">添加</b-button>

        <br/>
        <br/>

        <b-table striped hover :items="users" :fields="userFields"></b-table>
    </div>

</div>
</body>
<script src="../js/common/vue.min.js"></script>
<script src="../js/common/qs.min.js"></script>
<script src="../js/common/axios.min.js"></script>
<script src="../js/bootstrap/bootstrap-vue.min.js"></script>
<script src="../js/bootstrap/bootstrap-vue-icons.min.js"></script>

<!-- 关于crypto-js的导入与使用 -->
<!-- https://www.jianshu.com/p/90540249747d -->
<!-- https://github.com/kjur/jsrsasign/issues/232 -->
<!-- https://stackoverflow.com/questions/57416217/cryptojs-encrypt-in-aes-256-cbc-returns-an-unexpected-value -->
<script src="../js/crypto/core.min.js"></script>
<script src="../js/crypto/enc-base64.min.js"></script>
<script src="../js/crypto/md5.min.js"></script>
<script src="../js/crypto/evpkdf.min.js"></script>
<script src="../js/crypto/jsrsasign-all-min.min.js"></script>

<script src="../js/util.js"></script>
<script src="../js/api.js"></script>

<script>

    let login_vue = new Vue({
        el: '#login',
        data: {
            config: {
                username: '',
                password: '',
            },
            username: '',
            password: '',
        },
        computed: {
            isLogin: function () {
                return getSecret() !== ''
            },
        },
        methods: {
            async LoginGet() {
                let promise = LoginGet()
                let data = await promise
                if (data !== null && data.object != null) {
                    this.config = data.object
                }
            },
            async LoginPost() {
                let promise = LoginPost(this.username, this.password)
                let data = await promise
                if (data !== null) {
                    this.isLogin = true
                    setSecret(this.password)
                } else {
                    this.isLogin = false
                    setSecret('')
                }
            },
        },
    })
    login_vue.LoginGet()

    let user_vue = new Vue({
        el: '#user',
        data: {
            username: '',
            password: '',
            users: [],
            userFields: [
                {key: 'id', label: 'id', sortable: true},
                {key: 'username', label: 'username', sortable: true},
                {key: 'password', label: 'password', sortable: true},
                {key: 'created_at', label: 'created_at', sortable: true},
                {key: 'updated_at', label: 'updated_at', sortable: true},
            ],
            jobs: [],
        },
        methods: {
            async AddUser() {
                if (!login_vue.isLogin) {
                    alert('未登陆')
                }

                let promise = AddUser(this.username, this.password)
                let data = await promise
                if (data !== null) {
                    alert('添加成功')
                } else {
                    alert('添加失败')
                }
            },
            async ListUser() {
                if (!login_vue.isLogin) {
                    return
                }

                let promise = ListUser()
                let data = await promise
                if (data !== null && data.object != null) {
                    for (let i = 0; i < data.object.length; i++) {
                        data.object[i].created_at = reFormatDate(data.object[i].created_at, 'YYYY-MM-DD HH:mm:ss')
                        data.object[i].updated_at = reFormatDate(data.object[i].updated_at, 'YYYY-MM-DD HH:mm:ss')
                    }
                    this.users = data.object
                }
            },
        },
    })
    user_vue.ListUser()
    setInterval("user_vue.ListUser()", "1000")

</script>
</html>